@charset "utf-8";

table {
	border-collapse: collapse;
	border-style: dotted;
}

td {
	border-collapse: collapse;
	border-style: dotted;
	padding: 5px;
}

th {
	border-collapse: collapse;
	border-style: none;
}