@charset "utf-8";
 
  * {
  margin: 0;
  padding: 0;
}

body {
  background: url(linen.png);
  color: #3f3f3f;
}

div.content {
  background-color: #dfdfdf;
  width: 800px;
  margin: 0 auto;
  height: 100%;
}

h1 {
  border-bottom-style: dotted;
  background-color: ;
  font-size: 3em;
  line-height: 1.1;
  padding: 20px;
  text-shadow: -1px -1px 0px #202020, 1px 1px 0px #FFF;
}

h2 {
  font-size: 1.5em;
  line-height: 1.1;
  padding: 15px;
}

h3 {
  padding: 10px 15px;
}

h3.last {

  margin-bottom: 400px;
}

p {
  padding: 10px 15px;
}

p.notvalid {
  background-color: #fe9c9c;
}

p.big {

  font-size: 1.5em;
}

input[type="submit"] {
    padding: 10px 15px;
    background: #036d14;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
input[type="submit"]:hover {
    background: #00600f;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
input[type="submit"]:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #01460c;
    border: solid 1px #003909;
}

input[type="submit"]{
   
    width: 770px;
    height: 50px;
    font-size: 20pt;
   
  /*  margin: 20px 15px 20px 15px; */
    margin-top: 20px;
    margin-bottom: 20px;
}

tr.notvalid {
  background-color: #fe9c9c;
}

td {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #bbbbbb;
}

tr:last-child td {
  border-width: 0px;
}

tr:last-child td:first-child {
  border-width: 0px;
  border-bottom-left-radius: 10pt;
}

tr:last-child td:last-child {
  border-width: 0px;
  border-bottom-right-radius: 10pt;
}

tr:first-child td:first-child {
  /*border-width: 0px;*/
  border-top-left-radius: 10pt;
}

tr:first-child td:last-child {
  /*border-width: 0px;*/
  border-top-right-radius: 10pt;
}

tr:nth-child(even) {
  background-color: #f3f3f3;
}

tr:nth-child(even).notvalid {
  background-color: #fe9c9c;
}

td + td {
  text-align: center;
}

td.noalign {
  text-align: left;
}

th.rightalign {
  text-align: right;
  padding-right: 10px;
}

thead {
  background-color: #4c4c4c;
  color: white;
  font-weight: 100;
  border-collapse: collapse;
  margin-top: 0;
}

p input[type="text"] {
  margin: 0 0 0 10px;
}

p input[type="checkbox"] {
  padding: 10px 15px;
}

img {
  padding: 10px 15px;
}

textarea {
  -webkit-resize: none;
  -moz-resize: none;
  resize: none;
}



.footer {

  height: 100px;
  background-color: #9e9e9e;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.footer p {

  margin: auto inherit;
}

table {
  background-color: white;
  margin: 0px 15px 15px 15px;
  border-radius: 10pt;
  border-color: #bbbbbb;
  border-width: 3px;
  border-bottom-style: solid;
  border-spacing: 0;
}

#header-fixed {
  position: fixed;
  top: 0px;
  width: 770px;
  display: none;
  background-color: white;
  margin-top: 0;
  border-radius: 0pt;
  border-style: none;
  border-width: 0px;
  border-collapse: collapse;
}

#header-fixed tr td.shadow{

  
  width: 100%;
  height: 0px;
  -webkit-box-shadow: 0 2px 10px 1px black;
     -moz-box-shadow: 0 2px 10px 1px black;
          box-shadow: 0 2px 10px 1px black;

}

/** Checkbox/Radio Styles **/
input[type="checkbox"],input[type="radio"] {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}


input[type="checkbox"],input[type="radio"] {
  vertical-align: middle;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

input[type="checkbox"]+label,input[type="radio"]+label {
  cursor: pointer;
  padding-left: 20px;
}

input[type="checkbox"]+label:before, input[type="radio"]+label:before {
  content: "";
  display: inline-block;
  height: 20px;
  margin: 1px 4px 0 -22px;
  vertical-align: middle;
  width: 20px;
}

input[type="checkbox"]+label:before {
  background: url(sprite7.png)left top no-repeat;
}

input[type="checkbox"]:checked+label:before {
  background: url(sprite7.png)-26px top no-repeat;
}

input[type="radio"]+label:before {
  background: url(sprite7.png)-50px top no-repeat;
}

input[type="radio"]:checked+label:before {
  background: url(sprite7.png)-74px top no-repeat;
}
